body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgba(207,83,118);
}
.yellow{
    background-color:  rgb(188, 208, 225);
}
.green{
    background-color: rgba(88,160,185);
}
.purple{
    background-color:rgba(250,144,59);
}
.flash {
    background-color: white;
}
.userFlash{
    background-color: rgb(0, 255, 89);
}